name: Test
on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - 'doc/**'
      - 'LICENSE'
  pull_request:
env:
  GO_VERSION: "1.17"
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run unit tests
        run: make test
