name: Test
on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - 'doc/**'
      - 'LICENSE'
  pull_request:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: Run unit tests
        run: make test
